# global filetypes to ignore
*.depend
*.layout
*.patch
*.cscope_file_list
*.bmarks
*.chw
*.cbTemp
*.opensdf
*.sdf
*.suo
*.VC.opendb
*.autosave
*.~vsd
*.dll
*.exe
*.pro.user
*.pro.user.*
*.vcxproj.user
*.orig
cov-int*
*.pdb
*.js
ui_*

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# QtCreator
*.autosave

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc