# global filetypes to ignore
*.depend
*.layout
*.patch
*.cscope_file_list
*.bmarks
*.chw
*.cbTemp
*.opensdf
*.sdf
*.suo
*.VC.opendb
*.autosave
*.~vsd
*.dll
*.exe
*.pro.user
*.pro.user.*
*.vcxproj.user
*.orig
cov-int*
*.pdb
*.js
ui_*
include/
gui/includes