QWidget {
    outline: 0;
}

QMainWindow {
    background-color:rgb(45,45,45);
}

QDialog {
    min-width: 400px;
    background-color:rgb(45,45,45);
}


/******************************** Tab ********************************/
QTabWidget::pane {
    border-color: rgb(25,25,25);
    background-color: transparent;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
}

QTabWidget::pane[upside="true"] {
    border-width: 0px;
    background-color:transparent;
}

QTabWidget::tab-bar {
    left: 10px;
}

QTabBar::tab {
    margin-left: 2px;
    margin-right: 1px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3.5px;
    padding-bottom: 3.5px;
    color: rgb(255,255,255);
    background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgb(35, 35, 35), stop:1 rgb(50, 50, 50));
    border-style: solid;
    border-width: 1px;
    border-color: rgb(25,25,25);
    border-bottom-width: 0px;
}

QTabBar::tab:selected {
    background-color: rgba(140,140,140,100);
    color: rgb(20,20,20);
}

QTabBar::tab:hover {
    background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(42, 42, 42, 255), stop:1 rgba(141, 141, 106, 180));
}

/***************************** ScrollArea *****************************/
QScrollArea {
    border-style: outset;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(25,25,25);
}

QScrollArea[without_border="true"] {
    border-style: solid;
    border-width: 0px;
}

QScrollArea QWidget {
    background-color: rgb(40,40,40);
}

/****************************** GroupBox ******************************/
QGroupBox {
    border-style: solid;
    border-width:1px;
    border-color: rgb(30,30,30);
    padding-top: 7px;
}

QGroupBox:title {
    color: rgb(130, 130, 105);
    left: 10px;
    margin-left: 3px;
    margin-right: 3px;
    padding-bottom: 1px;
}

/****************************** CheckBox ******************************/
QCheckBox {
    color: white;
    padding: 2px;
}

QCheckBox:disabled {
    color: grey;
    padding: 2px;
}

QCheckBox:hover {
    border-style:solid;
    border-width:1px;
    border-color: rgb(37,37,37);
}

QCheckBox::indicator:checked,
QGroupBox::indicator:checked {
    border-style:solid;
    border-width:1px;
    border-color: rgb(37,37,37);
    image: url(:/img/res/icons/checkBox.png);
    background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(75, 75, 75, 255), stop:1 rgb(143, 143, 107));
}

QCheckBox::indicator:unchecked,
QGroupBox::indicator:unchecked {
    border-style:solid;
    border-width:1px;
    border-color: rgb(37,37,37);
    background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(75, 75, 75, 255), stop:1 rgb(143, 143, 107));
}

QCheckBox::indicator:disabled {
    background-color: grey;
}

/**************************** RadioButton ****************************/
QRadioButton::indicator {
    width: 18px;
    height: 18px;
}

QRadioButton::indicator:unchecked {
    image: url(:/img/res/icons/radio_unchecked.png);
}

QRadioButton::indicator:unchecked:hover,
QRadioButton::indicator:unchecked:focus,
QRadioButton::indicator:unchecked:pressed {
    border: none;
    image: url(:/img/res/icons/radio_unchecked_focus.png);
}

QRadioButton::indicator:checked {
    border: none;
    image: url(:/img/res/icons/radio_checked.png);
}

QRadioButton::indicator:checked:hover,
QRadioButton::indicator:checked:pressed {
    border: none;
    image: url(:/img/res/icons/radio_checked_focus.png);
}

/***************************** Headerview *****************************/
QHeaderView::section {
    min-height: 20px;
    padding: 1px;
    background-color: rgb(40,40,40);
    border-style: solid;
    border-color: rgb(15,15,15);
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 0px;
    border-bottom-width: 0px;
}

/****************************** ComboBox ******************************/
QComboBox {
    min-height: 19px;
    min-width: 90px;
    padding-left: 5px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-style: outset;
    border-style: solid;
    border-color: rgb(25,25,25);
    border-width: 1px;
    color: rgb(255,255,255);
    background-color: transparent;
}

QComboBox QWidget {
    border-style: solid outset;
    border-color: rgb(25,25,25);
    color: rgb(255,255,255);
    background-color: rgb(45,45,45);
    selection-background-color: rgba(0,0,0,50);
}

QComboBox::drop-down {
    image: url(:/img/res/icons/downArrow.png);
    padding-top: 3px;
    padding-right: 5px;
    padding-left: 5px;
}

QComboBox QWidget::item {
    padding-top: 3px;
    padding-bottom: 3px;
}

/****************************** ToolBox ******************************/
QToolBox QWidget {
    background-color: rgb(45,45,45);
}

QToolBox QScrollArea {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(20,20,20);
}

QToolBox::tab {
    padding-left: 12px;
    color: black;
    background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgb(37, 37, 37), stop:1 rgb(47, 47, 47));
    border-style: solid;
    border-width: 1px;
    border-color: rgb(20,20,20);
}

/****************************** ScrollBar ******************************/
QScrollBar:horizontal {
    height: 18px;
    margin: 4px 16px 4px 16px;
    border: 0;
    border-radius: 4px;
    background-color: transparent;
}

QScrollBar::handle:horizontal {
    background-color: rgb(70,70,70);
    min-width: 5px;
    border-radius: 4px;
}

QScrollBar::handle:horizontal:hover {
    background-color: rgb(78,78,78);
    min-width: 5px;
    border-radius: 4px;
}

QScrollBar::add-line:horizontal {
    margin: 0px 3px 0px 3px;
    border-image: url(:/img/res/icons/right.png);
    height: 10px;
    width: 10px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    margin: 0px 3px 0px 3px;
    border-image: url(:/img/res/icons/left.png);
    height: 10px;
    width: 10px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal:hover,
QScrollBar::add-line:horizontal:on {
    border-image: url(:/img/res/icons/right_on.png);
    height: 10px;
    width: 10px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal:hover,
QScrollBar::sub-line:horizontal:on {
    border-image: url(:/img/res/icons/left_on.png);
    height: 10px;
    width: 10px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:horizontal,
QScrollBar::down-arrow:horizontal,
QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal {
    background: none;
}

QScrollBar:vertical {
    background-color: transparent;
    width: 18px;
    margin: 16px 4px 16px 4px;
    border-radius: 4px;
}

QScrollBar::handle:vertical {
    background-color: rgb(70,70,70);
    min-height: 24px;
    border-radius: 4px;
}

QScrollBar::handle:vertical:hover {
    background-color: rgb(78,78,78);
    min-height: 24px;
    border-radius: 4px;
}

QScrollBar::sub-line:vertical {
    margin: 3px 0px 3px 0px;
    border-image: url(:/img/res/icons/up.png);
    height: 10px;
    width: 10px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::add-line:vertical {
    margin: 3px 0px 3px 0px;
    border-image: url(:/img/res/icons/down.png);
    height: 10px;
    width: 10px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical:hover,
QScrollBar::sub-line:vertical:on {
    border-image: url(:/img/res/icons/up_on.png);
    height: 10px;
    width: 10px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::add-line:vertical:hover,
QScrollBar::add-line:vertical:on {
    border-image: url(:/img/res/icons/down_on.png);
    height: 10px;
    width: 10px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical,
QScrollBar::down-arrow:vertical,
QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background: none;
}

/****************************** StatusBar ******************************/
QStatusBar {
    border-style: solid;
    border-style: outset;
    border-width: 1px;
    border-top-color: rgb(70,70,70);
    border-right-color: rgb(70,70,70);
    border-left-color: rgb(70,70,70);
    border-bottom-color: transparent;
}

/****************************** ToolButton ******************************/
QToolButton:!hover {
    min-height: 13px;
    min-width: 50px;
    border-style: outset;
    border-color: rgb(15,15,15);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 1.5px;
    color: rgb(185, 185, 145);
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 rgb(60, 60, 60),stop: 0.4 rgb(35, 35, 35), stop: 0.5 rgb(35, 35, 35) stop:1 rgb(60, 60, 60));
}

QToolButton:hover {
    border-style: outset;
    border-color: rgb(15,15,15);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 2px;
    color: rgb(190, 190, 150);
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 rgb(65, 65, 65),stop: 0.4 rgb(40, 40, 40), stop: 0.5 rgb(40, 40, 40) stop:1 rgb(65, 65, 65));
}

QToolButton:pressed {
    border-style: outset;
    border-color: rgb(15,15,15);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 2px;
    color: rgb(190, 190, 150);
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 rgb(70, 70, 70),stop: 0.4 rgb(45, 45, 45), stop: 0.5 rgb(45, 45, 45) stop:1 rgb(70, 70, 70));
}

/****************************** Labels ******************************/
QLabel[dark="true"] {
    border-style: outset;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(25,25,25);
    background-color: rgb(32, 32, 32);
}

QLabel {
    color: black;
}

QLabel:disabled {
    color: grey;
}

/****************************** Splitter ******************************/
QSplitter::handle:horizontal {
    background-color: transparent;
    width: 10px;
}

QSplitter::handle:vertical{
    background-color: transparent;
    height: 10px;
}

QSplitterHandle:hover {}

QSplitter::handle:horizontal:hover{
    background-color:rgb(25,25,25);
    margin-left: 3px;
    margin-right: 3px;
}

QSplitter::handle:vertical:hover {
    background-color:rgb(25,25,25);
    margin-top: 3px;
    margin-bottom: 3px;
}

/****************************** Editors & Views ******************************/
QPlainTextEdit[text_edit="true"] {
    background-color: rgb(25, 25, 25);
    color: rgb(180, 180, 140);
    border-style: solid;
    border-color: rgb(20,20,20);
    border-width: 1px;
}

QTextEdit,
QTableView,
QTreeView,
QPlainTextEdit {
    background-color: rgb(25,25,25);
    alternate-background-color: rgb(30,30,30);
    color: rgb(180,180,140);
    border-style: solid;
    border-color: rgb(20,20,20);
    border-width: 1px;
}

QListView,
QListView[inside_toolbox="true"] {
    background-color: rgb(25,25,25);
    color: rgb(180,180,140);
    border-style: solid;
    border-color: rgb(20,20,20);
    border-width: 1px;
}

QTreeView::item,
QTableView::item {
    border-style: solid;
    border-color: rgb(15,15,15);
    border-top-width: 0px;
    border-right-width: 1px;
    border-left-width: 0px;
    border-bottom-width: 1px;
}

QTreeView::item:hover,
QTableView::item:hover,
QListView::item:hover,
QTreeView::item:selected,
QTableView::item:selected,
QListView::item:selected {
    background-color: rgba(0,0,0,50);
    color: rgb(218, 218, 163);
}

/****************************** PushButton ******************************/
QPushButton:disabled {
    min-height: 23px;
    min-width: 75px;
    padding: 1px;
    border-style: solid;
    border-color: rgb(15,15,15);
    border-width: 1px;
    color: grey;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 rgb(70, 70, 70),stop: 0.4 rgb(45,45,45), stop: 0.5 rgb(45,45,45) stop:1 rgb(70, 70, 70));
}

QPushButton:!hover {
    min-height: 23px;
    min-width: 75px;
    padding: 1px;
    border-style: solid;
    border-color: rgb(15,15,15);
    border-width: 1px;
    color: rgb(180, 180, 140);
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 rgb(50, 50, 50),stop: 0.4 rgb(25,25,25), stop: 0.5 rgb(25,25,25) stop:1 rgb(50, 50, 50));
}

QPushButton:hover {
    border-style: solid;
    border-color: rgb(15,15,15);
    border-width: 1px;
    color: rgb(170, 170, 127);
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 rgb(60, 60, 60),stop: 0.4 rgb(40, 40, 40), stop: 0.5 rgb(40, 40, 40) stop:1 rgb(60, 60, 60));
}

QPushButton:pressed {
    border-style: solid;
    border-color: rgb(15,15,15);
    border-width: 1px;
    color: rgb(170, 170, 127);
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 rgb(65, 65, 65),stop: 0.4 rgb(45, 45, 45), stop: 0.5 rgb(45, 45, 45) stop:1 rgb(65, 65, 65));
}

/****************************** LineEdit ******************************/
QLineEdit:!disabled {
    min-height: 18px;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(20,20,20);
    border-style: inset;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 8px;
    padding-right: 8px;
    color: rgb(180, 180, 140);
    background-color: rgb(30, 30, 30);
}

QLineEdit:disabled {
    min-height: 18px;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(20,20,20);
    border-style: inset;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 8px;
    padding-right: 8px;
    color: grey;
    background-color: rgb(30, 30, 30);
}
/****************************** ProgressBar ******************************/
QProgressBar {
    text-align: center;
    border-width: 1px;
    border-color: rgb(20,20,20);
    border-style: inset;
    color: black;
    background-color: rgb(40,40,40);
    min-width: 200px;
    max-width: 200px;
    min-height: 22px;
}

QProgressBar::chunk {
    background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(50, 50, 50, 255), stop:1 rgba(150, 150, 112, 200));
}

/********************************** Misc **********************************/
*[s3s_color="true"] {
    color: rgb(185, 185, 145);
}

*::item[no_item_border="true"] {
    border-width: 0px;
}

QTreeView[no_item_border="true"] {
    border-width: 0px;
}

QFrame[frameShape="4"] {
    min-height: 1px;
    max-height: 1px;
    border: none;
    background: rgb(20,20,20);
}

QFrame[default_frame="true"] {
    height: 45px;
    max-height: 45px;
    min-height: 45px;
    background-color: rgb(40, 40, 40);
}

QFrame[dark_frame="true"] {
    background-color: rgb(40, 40, 40);
}

QWidget[lighter="true"]{
    background-color: rgb(45,45,45);
}

/****************************** Menu & MenuBar ******************************/
QMenu {
    min-width: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(25,25,25);
    background-color: rgb(37,37,37);
}

QMenuBar {
    margin-top: 1px;
    background: rgb(45,45,45);
}

QMenu::item {
    color: rgb(255,255,255);
    background-color: transparent;
    margin-left: 5px;
    padding-left: 22px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 20px;
}

QMenuBar::item {
    margin-top: 1px;
    color: rgb(255,255,255);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    background: transparent;
}

QMenuBar::item:disabled {
    color: grey;
}

QMenuBar::item:selected,
QMenuBar::item:hover,
QMenu::item:selected {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,80);
    background-color: rgba(0,0,0,50);
}

QMenu::​separator {
    background-color: black;
}

/****************************** Abstract ScrollArea ******************************/
QAbstractScrollArea {
    background-color: transparent;
}
