QTabWidget::pane {
    border-color: rgb(30,30,30);
    background-color: transparent;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
}

QTabWidget::pane[upside="true"] {
    border-width: 0px;
    background-color:transparent;
}

QTabWidget::tab-bar {
    left: 10px;
}

QTabBar::tab {
    margin-left: 2px;
    margin-right: 1px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3.5px;
    padding-bottom: 3.5px;
    border-style: outset;
    border-width: 2px;
    border-top-color: qlineargradient(spread:pad, x1:0.5, y1:0.6, x2:0.5, y2:0.4, stop:0 rgba(175, 175, 175, 255), stop:1 rgba(122, 122, 122, 255));
    border-right-color: qlineargradient(spread:pad, x1:0.4, y1:0.5, x2:0.6, y2:0.5, stop:0 rgba(175, 175, 175, 255), stop:1 rgba(122, 122, 122, 255));
    border-left-color: qlineargradient(spread:pad, x1:0.6, y1:0.5, x2:0.4, y2:0.5, stop:0 rgba(175, 175, 175, 255), stop:1 rgba(122, 122, 122, 255));
    border-style: solid;
    border-bottom-width: 0px;
    color: white;
    background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(137, 137, 137, 255), stop:1 rgba(157, 157, 157, 255));
}

QTabBar::tab:hover {
    color: black;
}

QTabBar::tab:selected {
    background-color: white;
    color: rgb(141, 141, 106);
}

QTextEdit,
QTableView,
QTreeView,
QPlainTextEdit {
    color: black;
    border-style: inset solid;
    border-color: rgb(30,30,30);
    border-width: 1px;
}

QFrame[default_frame="true"] {
    height: 45px;
    max-height: 45px;
    min-height: 45px;
}

QPushButton {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 white, stop: 0.3 rgb(170, 170, 127));
}

QProgressBar {
    min-width: 200px;
    max-width: 200px;
    min-height: 22px;
    text-align: center;
    color: rgb(240, 240, 240);
    border-width: 1px;
    border-radius: 10px;
    border-color: rgb(30,30,30);
    border-style: solid;
    background-color:rgb(207,207,207);
}

QProgressBar::chunk {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 white, stop: 0.3 rgb(170, 170, 127));
    border-radius: 10px;
}

/****************************** ToolButton ******************************/
QToolButton {
    min-height: 12px;
    min-width: 50px;
    padding: 1.5px;
    border-style: outset;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(78, 78, 78);
    color: white;
    background: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(117, 117, 117, 255), stop:1 rgba(137, 137, 137, 255));
}

QPushButton{
    min-height: 20px;
    min-width: 73px;
    padding: 1px;
    border-style: outset;
    border-width: 2px;
    border-top-color: qlineargradient(spread:pad, x1:0.5, y1:0.6, x2:0.5, y2:0.4, stop:0 rgba(155, 155, 155, 255), stop:1 rgba(102, 102, 102, 255));
    border-right-color: qlineargradient(spread:pad, x1:0.4, y1:0.5, x2:0.6, y2:0.5, stop:0 rgba(155, 155, 155, 255), stop:1 rgba(102, 102, 102, 255));
    border-left-color: qlineargradient(spread:pad, x1:0.6, y1:0.5, x2:0.4, y2:0.5, stop:0 rgba(155, 155, 155, 255), stop:1 rgba(102, 102, 102, 255));
    border-bottom-color: rgb(78, 78, 78);
    border-bottom-width: 1px;
    border-style: solid;
    color: rgb(255, 255, 255);
    background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(117, 117, 117, 255), stop:1 rgba(137, 137, 137, 255));
}

QAction {
    background: transparent;
}
