QWidget {
    outline: 0;
}

/****************************** TAB ******************************/
QTabWidget::pane {
    border-color: rgba(140, 140, 140, 255);
    background-color: transparent;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
}

QTabWidget::pane[upside="true"] {
    border-width: 0px;
    background-color:transparent;
}

QTabWidget::tab-bar {
    left: 10px;
}

QTabBar::tab {
    margin-left: 2px;
    margin-right: 1px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3.5px;
    padding-bottom: 3.5px;
    border-style: outset;
    border-width: 1px;
    border-color: rgb(150,150,150);
    border-style: solid;
    border-bottom-width: 0px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    color: black;
    background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(170, 170, 127, 150), stop:1 rgb(255, 255, 255));
}

QTabBar::tab:hover {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 rgb(250, 250, 250),stop: 0.4 rgb(230,230,230), stop: 0.5 rgb(230,230,230) stop:1 rgb(250, 250, 250));
}

QTabBar::tab:selected {
    background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(127, 127, 127, 255), stop:1 rgb(170, 170, 127));
    color: white;
}

/****************************** FRAME ******************************/
QFrame[default_frame="true"] {
    height: 45px;
    max-height: 45px;
    min-height: 45px;
    background-color: rgba(170, 170, 127, 100);
    border-style: solid;
    border-color: rgb(150,150,150);
    border-width: 1px;
}

QFrame[dark_frame="true"] {
    margin-right: 82px;
    background-color: rgba(170, 170, 127, 100);
    border-style: solid;
    border-color: rgb(150,150,150);
    border-width: 1px;
}

/****************************** ProgressBar ******************************/
QProgressBar {
    min-width: 200px;
    max-width: 200px;
    min-height: 22px;
    text-align: center;
    color: black;
    border-style: inset solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(150,150,150);
    background-color:white;
}

QProgressBar::chunk {
    border-style: inset solid;
    border-radius: 5px;
    background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(130, 130, 130, 255), stop:1 rgb(170, 170, 127));
}

/****************************** ToolButton ******************************/
QToolButton {
    min-height: 12px;
    min-width: 50px;
    padding: 1.5px;
    border-style: inset;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(150,150,150);
    border-style: solid;
    color: rgb(20,20,20);
    background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(170, 170, 127, 150), stop:1 rgb(255, 255, 255));
}

QToolButton:hover {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 rgb(250, 250, 250),stop: 0.4 rgb(220,220,220), stop: 0.5 rgb(220,220,220) stop:1 rgb(250, 250, 250));
}

QToolButton:pressed {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 rgb(250, 250, 250),stop: 0.4 rgb(230,230,230), stop: 0.5 rgb(230,230,230) stop:1 rgb(250, 250, 250));
}

/****************************** PushButton ******************************/
QPushButton{
    min-height: 21px;
    min-width: 75px;
    padding: 1px;
    border-style: inset;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgb(150,150,150);
    border-style: solid;
    color: rgb(20,20,20);
    background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(170, 170, 127, 150), stop:1 rgb(255, 255, 255));
}

QPushButton:disabled {
    color: grey;
}

QPushButton:hover {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 rgb(250, 250, 250),stop: 0.4 rgb(220,220,220), stop: 0.5 rgb(220,220,220) stop:1 rgb(250, 250, 250));
}

QPushButton:pressed {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 rgb(250, 250, 250),stop: 0.4 rgb(230,230,230), stop: 0.5 rgb(230,230,230) stop:1 rgb(250, 250, 250));
}

/****************************** ComboBox ******************************/
QComboBox {
    min-height: 19px;
    min-width: 90px;
    padding-left: 5px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-style: solid;
    border-color: rgb(150,150,150);
    border-width: 1px;
    background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(170, 170, 127, 100), stop:1 rgb(255, 255, 255));
}

QComboBox QWidget {
    background-color: white;
}

QComboBox::drop-down {
    image: url(:/img/res/icons/light_down.png);
    padding-top: 3px;
    padding-right: 5px;
    padding-left: 5px;
}

QComboBox QWidget {
    selection-color: black;
    selection-background-color: rgba(170, 170, 127, 100);
}

/****************************** StatusBar ******************************/
QStatusBar {
    border-style: solid;
    border-style: outset;
    border-width: 1px;
    border-top-color: grey;
    border-right-color: grey;
    border-left-color: grey;
    border-bottom-color: transparent;
}

/****************************** Menu/MenuBar ******************************/
QMenuBar[project="true"] {
    margin-top: 1px;
    background: transparent;
}

QMenuBar::item:disabled {
    color: rgb(220,220,220);
}

QMenuBar::item:selected,
QMenuBar::item:hover,
QMenu::item:selected {
    color: black;
    background-color: rgba(170, 170, 127, 100);
}

QLabel[dark="true"] {
    border-style: inset;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(150,150,150);
    background-color: rgba(170, 170, 127, 100);
}

QScrollArea {
    border-style: inset;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(150,150,150);
}

/****************************** ToolBox ******************************/
QToolBox QWidget {
    background-color: rgb(240,240,240);
}

QToolBox QScrollArea {
    border-style: solid;
    border-width: 1px;
}

QToolBox::tab {
    padding-left: 12px;
    color: black;
    background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(170, 170, 127, 150), stop:1 rgb(255, 255, 255));
    border-style: solid;
    border-width: 1px;
    border-color: rgb(150,150,150);
}

/****************************** Views ******************************/
QTableView::item:hover,
QTreeView::item:hover,
QListView::item:hover,
QTableView::item:selected,
QTreeView::item:selected,
QListView::item:selected {
    color: black;
    background-color: rgba(170, 170, 127, 100);
}

QTreeView[no_item_border="true"] {
    border-style: solid;
    border-width: 0px;
}

QTextBrowser {
    background-color: rgba(170, 170, 127, 100);
}

/****************************** ScrollBar ******************************/
QScrollBar:horizontal {
    height: 18px;
    margin: 4px 16px 4px 16px;
    border: 0;
    border-radius: 4px;
    background-color: transparent;
}

QScrollBar::handle:horizontal {
    background-color: rgba(170, 170, 127, 130);
    min-width: 5px;
    border-radius: 4px;
}

QScrollBar::handle:horizontal:hover {
    background-color: rgba(170, 170, 127, 100);
    min-width: 5px;
    border-radius: 4px;
}

QScrollBar::add-line:horizontal {
    margin: 0px 3px 0px 3px;
    border-image: url(:/light_theme/res/themes/light/right.png);
    height: 10px;
    width: 10px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    margin: 0px 3px 0px 3px;
    border-image: url(:/light_theme/res/themes/light/left.png);
    height: 10px;
    width: 10px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal:hover,
QScrollBar::add-line:horizontal:on {
    border-image: url(:/light_theme/res/themes/light/right_on.png);
    height: 10px;
    width: 10px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal:hover,
QScrollBar::sub-line:horizontal:on {
    border-image: url(:/light_theme/res/themes/light/left_on.png);
    height: 10px;
    width: 10px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:horizontal,
QScrollBar::down-arrow:horizontal,
QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal {
    background: none;
}

QScrollBar:vertical {
    background-color: transparent;
    width: 18px;
    margin: 16px 4px 16px 4px;
    border-radius: 4px;
}

QScrollBar::handle:vertical {
    background-color: rgba(170, 170, 127, 130);
    min-height: 24px;
    border-radius: 4px;
}

QScrollBar::handle:vertical:hover {
    background-color: rgba(170, 170, 127, 100);
    min-height: 24px;
    border-radius: 4px;
}

QScrollBar::sub-line:vertical {
    margin: 3px 0px 3px 0px;
    border-image: url(:/light_theme/res/themes/light/up.png);
    height: 10px;
    width: 10px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::add-line:vertical {
    margin: 3px 0px 3px 0px;
    border-image: url(:/light_theme/res/themes/light/down.png);
    height: 10px;
    width: 10px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical:hover,
QScrollBar::sub-line:vertical:on {
    border-image: url(:/light_theme/res/themes/light/up_on.png);
    height: 10px;
    width: 10px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::add-line:vertical:hover,
QScrollBar::add-line:vertical:on {
    border-image: url(:/light_theme/res/themes/light/down_on.png);
    height: 10px;
    width: 10px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical,
QScrollBar::down-arrow:vertical,
QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background: none;
}

/****************************** CheckBox/GroupBox ******************************/
QCheckBox {
    color: black;
    padding: 2px;
    background-color: transparent;
}

QGroupBox {
    background-color: transparent;
}

QCheckBox:disabled {
    color: grey;
    padding: 2px;
}

QCheckBox::indicator:checked,
QGroupBox::indicator:checked {
    border-style:solid;
    border-width:1px;
    border-color: rgb(150,150,150);
    image: url(:/img/res/icons/checkBox.png);
    background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(170, 170, 127, 150), stop:1 rgb(255, 255, 255));
}

QCheckBox::indicator:unchecked,
QGroupBox::indicator:unchecked {
    border-style:solid;
    border-width:1px;
    border-color: rgb(150,150,150);
    background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(170, 170, 127, 150), stop:1 rgb(255, 255, 255));
}

QCheckBox::indicator:disabled {
    background-color: grey;
}

/****************************** Forms ******************************/
QMainWindow {
    background-color: rgba(240, 240, 240, 255);
}

QDialog {
    min-width: 400px;
    background-color: rgba(240, 240, 240, 255);
}

/****************************** Splitter ******************************/
QSplitter::handle:horizontal {
    background-color: transparent;
    width: 8px;
}

QSplitter::handle:vertical{
    background-color: transparent;
    height: 8px;
}
